#paginador{
    text-align: center;
}
#paginador span{
    margin: 3px;
}
.submits{
    margin-top:5px;
    text-align: center;
}
.submits button{
    min-width: 100px;
    min-height: 32px;
    font-size: 18px;
}
.linees{
    background: #EEE;
    padding: 6px;
    color: #333;
    border: 1px solid #999;
    width:350px;
    float: left;
}
a{
    color: inherit;
    text-decoration: inherit;
}


#tiendas {
    background: #dfdfdf;
    color: #666;
    font: 14px/24px sans-serif;
}