/*
Fonts
*/
@font-face {
    font-family: 'FontAwesome';
    src: url("fonts/fontawesome-webfont.eot");
    src: url("fonts/fontawesome-webfont.eot") format("embedded-opentype"), url("fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"), url("fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"), url("fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"), url("fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
    font-weight: normal;
    font-style: normal; }
a{
    text-decoration: none;
}
body{
    width: 995px;
    margin:auto;
    border:1px solid #9D9FA0;
    padding: 0 5px;
    font-family: Arial, Helvetica, sans-serif;

    -webkit-box-shadow: 0 0 8px 0 rgba(0,0,0,0.95);
    -moz-box-shadow: 0 0 8px 0 rgba(0,0,0,0.95);
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.95);

    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

}
header{
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;

}
#search form{
    box-sizing: initial;
    height: 47px;
    display: flex;
}
#search input{
    padding: 0 25px 0 20px;
    height: 45px;
    background: #fbfbfb;
    margin-right: 0;
    border: 1px solid #d6d4d4;
    align-items: center;
}
#search button{
    background: #333;
    border: none;
    color: #fff;
    width: 50px;
    text-align: center;
    padding: 8px 0 8px 0;
}
#search button:after{
    content: "\f002";
    display: block;
    font-family: "FontAwesome", Helvetica, sans-serif;
    font-size: 17px;
    width: 100%;
    text-align: center;
}
#carrito{
    width: 250px;
}
#carrito > span:first-child {
    padding: 7px 10px 14px 16px;
    background: #333;
    display: block;
    font-weight: bold;
    color: #777777;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}
#carrito > span:first-child b {
    color: #fff;
    font: 600 18px/22px "Open Sans", sans-serif;
    padding-right: 5px;
}
#carrito > span:first-child:before {
    content: "\f07a";
    font-family: "FontAwesome", Helvetica, sans-serif;
    display: inline-block;
    font-size: 23px;
    line-height: 23px;
    color: #fff;
    padding-right: 15px;
}
#carrito > span:first-child:after {
    content: "\f0d7";
    font-family: "FontAwesome", Helvetica, sans-serif;
    display: inline-block;
    float: right;
    font-size: 18px;
    color: #686666;
    padding: 6px 0 0 0;
}
#carrito:hover > span:first-child:after{
    content: "\f0d8";

}
#carrito_extendido img {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
    transition-delay: 2s;
}
#carrito_extendido{
    background: #484848;
    width: 250px;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.8s linear;
    transition-delay: 2s;
    box-sizing: border-box;
}
#carrito_extendido > * > * > *{
    padding-left: 15px;
    padding-right: 15px;
}
#carrito:hover > #carrito_extendido, #carrito:hover > #carrito_extendido img{
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}
.products{
    margin:0;
}
.products dt{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    padding: 10px 0;
    background: url('../img/cart-shadow.png') repeat-x top;
}
.product dl:first-child{
    background-image:none;
}
.products .product_name span, .products .product_name span a{
    color: #fff
}
.products .product_name span:hover, .products .product_name span a:hover, .eliminar_producto:hover:before{
    color: #9c9b9b;
}
.products .product_name{
    margin-bottom: 10px;
}
.eliminar_producto{
    height: 18px;
}
.eliminar_producto:before{
    display: inline-block;
    content: "\f057";
    font-family: "FontAwesome", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 18px;
    color: #fff;
    cursor: pointer;
}
#precios_carrito{
    background: url('../img/cart-shadow.png') repeat-x #3d3d3d;
    color: #fff;
    padding: 14px 0;
    display: flex;
    justify-content: space-around;
}
#confirm_carrito{
    background: url('../img/cart-shadow.png') repeat-x #333;
    padding: 20px;
}
#confirm_carrito div{
    padding: 7px 0;
    border: solid 1px #63c473;
    background: #43b155;
    font: bold 13px/17px Arial, Helvetica, sans-serif;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.24);
}
#confirm_carrito div:after {
    content: "";
    font: normal normal normal 14px/1 FontAwesome;
    margin-left: 5px;
}

#header_logo{
    width: 25%;
}
#header_logo img{
    width:100%;
    height:auto;
}

