/*
Fonts
*/
@font-face {
    font-family: 'FontAwesome';
    src: url("fonts/fontawesome-webfont.eot");
    src: url("fonts/fontawesome-webfont.eot") format("embedded-opentype"), url("fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"), url("fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"), url("fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"), url("fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
    font-weight: normal;
    font-style: normal; }
a{
    text-decoration: none;
}
body{
    width: 995px;
    margin:auto;
    border:1px solid #9D9FA0;
    padding-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;

    -webkit-box-shadow: 0 0 8px 0 rgba(0,0,0,0.95);
    -moz-box-shadow: 0 0 8px 0 rgba(0,0,0,0.95);
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.95);

    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

}
header{
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;

}
#search form{
    box-sizing: initial;
    height: 47px;
    display: flex;
}
#search input{
    padding: 0 25px 0 20px;
    height: 45px;
    background: #fbfbfb;
    margin-right: 0;
    border: 1px solid #d6d4d4;
    align-items: center;
}
#search button{
    background: #333;
    border: none;
    color: #fff;
    width: 50px;
    text-align: center;
    padding: 8px 0 8px 0;
}
#search button:after{
    content: "\f002";
    display: block;
    font-family: "FontAwesome", Helvetica, sans-serif;
    font-size: 17px;
    width: 100%;
    text-align: center;
}
#carrito{
    width: 250px;
}
#carrito > span:first-child {
    padding: 7px 10px 14px 16px;
    background: #333;
    display: block;
    font-weight: bold;
    color: #777777;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}
#carrito > span:first-child b {
    color: #fff;
    font: 600 18px/22px "Open Sans", sans-serif;
    padding-right: 5px;
}
#carrito > span:first-child:before {
    content: "\f07a";
    font-family: "FontAwesome", Helvetica, sans-serif;
    display: inline-block;
    font-size: 23px;
    line-height: 23px;
    color: #fff;
    padding-right: 15px;
}
#carrito > span:first-child:after {
    content: "\f0d7";
    font-family: "FontAwesome", Helvetica, sans-serif;
    display: inline-block;
    float: right;
    font-size: 18px;
    color: #686666;
    padding: 6px 0 0 0;
}
#carrito:hover > span:first-child:after{
    content: "\f0d8";

}
#carrito_extendido img {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
    transition-delay: 2s;
}
#carrito_extendido{
    background: #484848;
    width: 250px;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.8s linear;
    transition-delay: 2s;
    box-sizing: border-box;
}
#carrito_extendido > * > * > *{
    padding-left: 15px;
    padding-right: 15px;
}
#carrito:hover > #carrito_extendido, #carrito:hover > #carrito_extendido img{
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}
.products{
    margin:0;
}
.products dt{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    padding: 10px 0;
    background: url('../img/cart-shadow.png') repeat-x top;
}
.product dl:first-child{
    background-image:none;
}
.products .product_name span, .products .product_name span a{
    color: #fff
}
.products .product_name span:hover, .products .product_name span a:hover, .eliminar_producto:hover:before{
    color: #9c9b9b;
}
.products .product_name{
    margin-bottom: 10px;
}
.eliminar_producto{
    height: 18px;
}
.eliminar_producto:before{
    display: inline-block;
    content: "\f057";
    font-family: "FontAwesome", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 18px;
    color: #fff;
    cursor: pointer;
}
#precios_carrito{
    background: url('../img/cart-shadow.png') repeat-x #3d3d3d;
    color: #fff;
    padding: 14px 0;
    display: flex;
    justify-content: space-around;
}
#confirm_carrito{
    background: url('../img/cart-shadow.png') repeat-x #333;
    padding: 20px;
}
#confirm_carrito div{
    padding: 7px 0;
    border: solid 1px #63c473;
    background: #43b155;
    font: bold 13px/17px Arial, Helvetica, sans-serif;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.24);
    cursor:pointer;
}
#confirm_carrito div:after {
    content: "ï”";
    font: normal normal normal 14px/1 FontAwesome;
    margin-left: 5px;
}

#header_logo{
    width: 25%;
}
#header_logo img{
    width:100%;
    height:auto;
}

/*MENU */
/* @import url(http://fonts.googleapis.com/css?family=Open+Sans:700); */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url("fonts/opensans.woff2") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
#cssmenu {
    background: #333333;
    width: auto;
}
#cssmenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1;
    display: block;
    zoom: 1;
}
#cssmenu ul:after {
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
    visibility: hidden;
}
#cssmenu ul li {
    display: inline-block;
    padding: 0;
    margin: 0;
}
#cssmenu.align-right ul li {
    float: right;
}
#cssmenu.align-center ul {
    text-align: center;
}
#cssmenu ul li a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 15px 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
    -webkit-transition: color .25s;
    -moz-transition: color .25s;
    -ms-transition: color .25s;
    -o-transition: color .25s;
    transition: color .25s;
}
#cssmenu ul li a:hover {
    color: #43b155;
}
#cssmenu ul li a:hover:before {
    width: 100%;
}
#cssmenu ul li a:after {
    content: "";
    display: block;
    position: absolute;
    right: -3px;
    top: 19px;
    height: 6px;
    width: 6px;
    background: #ffffff;
    opacity: .5;
}
#cssmenu ul li a:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background: #43b155;
    -webkit-transition: width .25s;
    -moz-transition: width .25s;
    -ms-transition: width .25s;
    -o-transition: width .25s;
    transition: width .25s;
}
#cssmenu ul li.last > a:after,
#cssmenu ul li:last-child > a:after {
    display: none;
}
#cssmenu ul li.active a {
    color: #43b155;
}
#cssmenu ul li.active a:before {
    width: 100%;
}
#cssmenu.align-right li.last > a:after,
#cssmenu.align-right li:last-child > a:after {
    display: block;
}
#cssmenu.align-right li:first-child a:after {
    display: none;
}
#cssmenu .right{
    float: right;
}
@media screen and (max-width: 768px) {
    #cssmenu ul li {
        float: none;
        display: block;
    }
    #cssmenu ul li a {
        width: 100%;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-bottom: 1px solid #43b155;
    }
    #cssmenu ul li.last > a,
    #cssmenu ul li:last-child > a {
        border: 0;
    }
    #cssmenu ul li a:after {
        display: none;
    }
    #cssmenu ul li a:before {
        display: none;
    }
    #cssmenu .right{
        float: none;
    }
}

/*ARTICLE*/
article{
    min-height: 250px;
}